/*html, body {*/
/*    max-width: 100%;*/
/*    overflow-x: hidden;*/
/*    overflow-y: hidden;*/
/*}*/

/* CHECKBOX */
ul.ks-cboxtags {
    list-style: none;
    padding: 0px;
}
ul.ks-cboxtags li{
    display: inline;
}
ul.ks-cboxtags li label,
ul.ks-cboxtags li div form label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label,
ul.ks-cboxtags li div form label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before,
ul.ks-cboxtags li div form label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before,
ul.ks-cboxtags li div form input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label,
ul.ks-cboxtags li div form input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"],
ul.ks-cboxtags li div form input[type="checkbox"] {
    display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"],
ul.ks-cboxtags li div form input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label,
ul.ks-cboxtags li div form input[type="checkbox"]:focus + label {
    border: 2px solid #e9a1ff;
}




/* SLIDESHOW */
#slideshow {
    margin: 0 auto;
    height: 270px;
    width: 100%;
    box-sizing: border-box;
}

.slideshow-title {
    font-family: 'Allerta Stencil';
    font-size: 62px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 3px;
    font-weight: 300;
}

.sub-heading {
    padding-top: 50px;
    font-size: 18px;
} .sub-heading-two {
      font-size: 15px;
  } .sub-heading-three {
        font-size: 13px;
    } .sub-heading-four {
          font-size: 11px;
      } .sub-heading-five {
            font-size: 9px;
        } .sub-heading-six {
              font-size: 7px;
          } .sub-heading-seven {
                font-size: 5px;
            } .sub-heading-eight {
                  font-size: 3px;
              } .sub-heading-nine {
                    font-size: 1px;
                }

.entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 50px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 150px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(200px);
} .content-carrousel figure:nth-child(2) {
      transform: rotateY(90deg) translateZ(200px);
  } .content-carrousel figure:nth-child(3) {
        transform: rotateY(180deg) translateZ(200px);
    } .content-carrousel figure:nth-child(4) {
          transform: rotateY(270deg) translateZ(200px);
      } .content-carrousel figure:nth-child(5) {
          transform: rotateY(360deg) translateZ(200px);
        }

/*.content-carrousel figure:nth-child(1) {*/
/*    transform: rotateY(0deg) translateZ(300px);*/
/*} .content-carrousel figure:nth-child(2) {*/
/*      transform: rotateY(40deg) translateZ(300px);*/
/*  } .content-carrousel figure:nth-child(3) {*/
/*        transform: rotateY(80deg) translateZ(300px);*/
/*    } .content-carrousel figure:nth-child(4) {*/
/*          transform: rotateY(120deg) translateZ(300px);*/
/*      } .content-carrousel figure:nth-child(5) {*/
/*            transform: rotateY(160deg) translateZ(300px);*/
/*        } .content-carrousel figure:nth-child(6) {*/
/*              transform: rotateY(200deg) translateZ(300px);*/
/*          } .content-carrousel figure:nth-child(7) {*/
/*                transform: rotateY(240deg) translateZ(300px);*/
/*            } .content-carrousel figure:nth-child(8) {*/
/*                  transform: rotateY(280deg) translateZ(300px);*/
/*              } .content-carrousel figure:nth-child(9) {*/
/*                    transform: rotateY(320deg) translateZ(300px);*/
/*                } .content-carrousel figure:nth-child(10) {*/
/*                      transform: rotateY(360deg) translateZ(300px);*/
/*                  }*/

/*.shadow {*/
/*    position: absolute;*/
/*    box-shadow: 0px 0px 20px 0px #000;*/
/*    border-radius: 1px;*/
/*}*/

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    } to {
          transform: rotateY(360deg);
      }
}



/*NUMBERIC NUMBER STEPPER*/
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}
/*Prevent text selection*/
input{
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
