<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

    <div layout:fragment="site_content">
        <div class="row mt-4">
            <div class="col-12">

                <table class="table table-bordered table-striped table-hover">
                    <thead class="text-light bg-dark">
                        <tr>
                            <td th:text="#{label.name}"></td>
                            <td th:text="#{label.price}"></td>
                            <td th:text="#{label.amount}"></td>
                            <td width="20%" th:text="#{label.quantity}"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${cart}" th:if="${item.getValue() > 0}">
                            <td th:text="${item.getKey().name}"></td>
                            <td th:text="${item.getKey().price}"></td>
                            <td th:text="${item.getKey().price * item.getValue()}"></td>
                            <td class="row mx-0">
                                <div class="qty">
                                    <form th:action="${'/delete_item_from_cart'}" method="post" class="d-inline">
                                        <input type="hidden" name="shopitem_id" th:value="${item.getKey().id}">
                                        <button class="minus bg-dark">-</button>
                                    </form>
                                    <input readonly type="number" class="count" name="qty" th:value="${item.getValue()}">
                                    <form th:action="${'/add_item_to_cart'}" method="post" class="d-inline">
                                        <input type="hidden" name="shopitem_id" th:value="${item.getKey().id}">
                                        <input type="hidden" name="cart_id" th:value="${item.getKey().id}">
                                        <button class="plus bg-dark m-0">+</button>
                                    </form>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><h2 th:text="#{label.total-to-pay} + ':'"></h2></td>
                            <td colspan="2"><h2 th:text="'$ ' + ${session.totalAmount}"></h2></td>
                        </tr>
                    </tbody>
                </table>

<!--                <h2 class="text-center" th:text="#{label.total-to-pay} + ': $ 1500'"></h2>-->

            </div>
        </div>

    </div>

</html>