<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

    <div layout:fragment="site_content">
        <div class="row mt-4">
            <div class="col-12">

                <table class="table table-bordered table-striped table-hover">
                    <thead class="text-light bg-dark">
                        <tr>
                            <td th:text="#{label.name}"></td>
                            <td th:text="#{label.price}"></td>
                            <td th:text="#{label.amount}"></td>
                            <td width="20%" th:text="#{label.quantity}"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${cart}" th:if="${item.getValue() > 0}">
                            <td th:text="${item.getKey().name}"></td>
                            <td th:text="${item.getKey().price}"></td>
                            <td th:text="${item.getKey().price * item.getValue()}"></td>
                            <td class="row mx-0">
                                <div class="qty">
                                    <form th:action="${'/delete_item_from_cart'}" method="post" class="d-inline">
                                        <input type="hidden" name="shopitem_id" th:value="${item.getKey().id}">
                                        <button class="minus bg-dark">-</button>
                                    </form>
                                    <input readonly type="number" class="count" name="qty" th:value="${item.getValue()}">
                                    <form th:action="${'/add_item_to_cart'}" method="post" class="d-inline">
                                        <input type="hidden" name="shopitem_id" th:value="${item.getKey().id}">
                                        <input type="hidden" name="cart_id" th:value="${item.getKey().id}">
                                        <button class="plus bg-dark m-0">+</button>
                                    </form>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><h2 th:text="#{label.total-to-pay} + ':'"></h2></td>
                            <td colspan="2"><h2 th:text="'$ ' + ${session.totalAmount}"></h2></td>
                        </tr>
                    </tbody>
                </table>

                <form th:if="${session.totalQuantity > 0}" th:action="${'/delete-cart'}" method="post" class="col-12">
                    <div class="row float-right">
                        <button class="btn btn-lg btn-dark" type="button" data-toggle="modal" data-target="#pay" th:inline="text">
                            <i class="far fa-credit-card"></i>
                            [[#{button.check-in}]]
                        </button>
                        <button class="btn btn-lg btn-danger ml-2" th:inline="text">
                            <i class="fas fa-trash-alt"></i>
                            [[#{button.clear-cart}]]
                        </button>
                    </div>
                </form>

                <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="payModalLabel">
                                    <li class="row col-12">
                                        <i class="fab fa-cc-paypal fa-2x col-2"></i>
                                        <i class="fab fa-cc-visa fa-2x col-2"></i>
                                        <i class="fab fa-cc-mastercard fa-2x col-2"></i>
                                        <i class="fab fa-cc-apple-pay fa-2x col-2"></i>
                                        <i class="fab fa-cc-amazon-pay fa-2x col-2"></i>
                                        <i class="fab fa-cc-amex fa-2x col-2"></i>
                                    </li>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form th:action="${'/pay_order'}" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label th:text="#{label.fullname}"></label>
                                        <input type="text" class="form-control" name="fullname" required>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{label.card-number}"></label>
                                        <input type="tel" class="form-control" name="card" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label th:text="#{label.expiration}"></label>
                                            <input type="month" class="form-control" name="expiration_date" required>
                                        </div>
                                        <div class="col-6">
                                            <label>CVV</label>
                                            <input type="number" class="form-control" name="cvv" min="0" max="999" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}"></button>
                                    <button type="submit" class="btn btn-dark" th:text="#{button.pay}"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</html>