<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

    <div layout:fragment="site_content">
        <div class="row mt-4">

            <form th:action="@{'/auth'}" class="col-sm-8 offset-sm-2" method="post">

                <div class="form-group">
                    <label th:text="#{label.email}"></label>
                    <input type="email" class="form-control" name="user_email" required>
                </div>

                <div class="form-group">
                    <label th:text="#{label.password}"></label>
                    <input type="password" class="form-control" name="user_password" required>
                </div>

<!--                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#delete_shopitem" th:text="#{button.delete}"></button>-->
                <button type="submit" class="btn btn-dark btn-lg w-100" th:text="#{button.signin}"></button>

            </form>
            <a href="/signup" class="h4 mt-4 mx-auto text-danger" th:text="#{label.to-register}"></a>
        </div>

    </div>

</html>