<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

    <div layout:fragment="site_content">
        <div class="row mt-4">
            <div class="col-12">

                <div class="row col-sm-8 offset-sm-2">
                    <img th:src="@{'/viewphoto/' + ${currentUser.pictureUrl}}" class="col-sm-4 rounded">
                    <div class="col-sm-4 offset-sm-2">
                        <form th:action="@{'/uploadavatar'}" class="mt-5" method="post" enctype="multipart/form-data">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="user_avatar">
                                <label class="custom-file-label" for="customFile" th:text="#{label.choose}"></label>
                            </div>
                            <button class="btn btn-dark col-8 offset-2 mt-2" th:text="#{button.save}"></button>
                        </form>
                    </div>
                </div>

                <hr>

                <form th:action="@{'/saveuser'}" class="col-sm-8 offset-sm-2" method="post">
                    <input type="hidden" name="id" th:value="${currentUser.id}">
                    <div class="form-group">
                        <label th:text="#{label.email}"></label>
                        <input type="email" class="form-control" name="user_email" th:value="${currentUser.email}" readonly required>
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.fullname}"></label>
                        <input type="text" class="form-control" name="user_fullname" th:value="${currentUser.fullName}" required>
                    </div>
                    <button class="btn btn-dark col-4 offset-4" th:text="#{button.save}"></button>
                </form>

                <hr>
                <form th:action="@{'/saveuserpassword'}" class="col-sm-8 offset-sm-2" method="post">
                    <h3 class="text-center" th:text="#{label.change-password}"></h3>
                    <input type="hidden" name="id" th:value="${currentUser.id}">
                    <div class="form-group">
                        <label th:text="#{label.old-password}"></label>
                        <input type="password" class="form-control" name="user_oldpassword" required>
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.new-password}"></label>
                        <input type="password" class="form-control" name="user_newpassword" required>
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.re-password}"></label>
                        <input type="password" class="form-control" name="user_repassword" required>
                    </div>
                    <button class="btn btn-dark col-4 offset-4" th:text="#{button.save}"></button>
                </form>
            </div>
        </div>

    </div>

</html>