<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

    <div layout:fragment="site_content">
        <div class="row mt-4">

            <ul class="ks-cboxtags row mt-2">
                <li th:each="category : ${categories}">
                    <div th:if="${shopitem.categories.contains(category)}" class="d-inline">
                        <form th:action="${'/removecategory'}" class="form-check" method="post">
                            <input disabled type="hidden" name="shopitem_id" th:value="${shopitem.id}">
                            <input disabled type="hidden" name="category_id" th:value="${category.id}">
                            <input disabled type="checkbox" th:id="'cat' + ${category.id}" class="shopitem-category" onchange="this.form.submit()" name="category_id" th:value="${category.id}" th:checked="${shopitem.categories.contains(category)}">
                            <label th:for="'cat' + ${category.id}" th:text="${category.name}"></label>
                        </form>
                    </div>
                </li>
            </ul>

            <div class="alert alert-secondary shadow">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 th:text="${shopitem.name}"></h1>
                        <h3 th:text="${shopitem.brand.name} + ' - ' + ${shopitem.brand.country.name}" class="text-danger"></h3>
                        <h1 th:text="'$ ' + ${shopitem.price}" class="my-4"></h1>
                        <p th:text="${shopitem.description}" style="font-size: 24px;"></p>
                        <div class="mb-4">
                            <small class="text-muted">
                                <div class="d-inline" th:each="i : ${#numbers.sequence(1, 5)}">
                                    <span class="fa fa-star fa-2x" th:if="${shopitem.stars >= i}" style="color: orange;"></span>
                                    <span class="fa fa-star fa-2x" th:unless="${shopitem.stars >= i}" style="color: grey;"></span>
                                </div>
                            </small>
                        </div>
                        <form th:action="@{'/add_item_to_cart'}" method="post">
                            <input type="hidden" name="shopitem_id" th:value="${shopitem.id}">
                            <button class="btn btn-dark btn-lg" th:inline="text">
                                <i class="fas fa-shopping-cart"></i>
                                [[#{label.add-to-cart}]]
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <img th:src="${shopitem.pictureURLlrg}" class="w-100 rounded">
                    </div>
                </div>

                <div th:if="${pictures != null && pictures.size() > 0}" class="row">
                    <section id="slideshow">
                        <div class="entire-content">
                            <div class="content-carrousel">
<!--                                <figure class="shadow"><img th:src="${shopitem.pictureURLlrg}"></figure>-->
<!--                                <figure class="shadow"><img th:src="${shopitem.pictureURL}"></figure>-->
                                <figure th:each="picture : ${pictures}" class="shadow"><img th:src="@{'/shopitem/' + ${picture.url}}"></figure>
                            </div>
                        </div>
                    </section>
                </div>


            </div>

        </div>


    </div>

</html>